<h1><span class="red">Contact</span><span class="black">Us</span></h1>
<h3>
  We'd greatly appreciate your input. Thank you for your time and consideration.</h3>
<div class="box">
  <label for="usernameInput">Email</label>
  <input
    type="text"
    id="usernameInput"
    placeholder="Enter your name or nickname"
  />
  <label for="chatBoxInput">Message</label>
  <input id="chatBox" name="chatBox" type="text" placeholder="Enter messaage" />
</div>

<div id="submitContainer">
  <button id="submitBtn">Submit</button>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>